" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set selectmode=mouse
" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

let mapleader = "\<Space>"
noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

set which-key
set notimeout
set easymotion
set surround

Plug 'justinmk/vim-sneak'

map <leader>j <Plug>(easymotion-s)
map <leader>J <Plug>(easymotion-f)
map <c-n> :NERDTree<CR>

set number relativenumber
set showmode
set NERDTree

nnoremap("<C-d>", "<C-d>zz")
nnoremap("<C-u>", "<C-u>zz")

map <leader>b <Action>(ToggleBookmark)
map <leader>r <Action>(EditorTranslateAction)

"" Splitting Windows
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

"" Moving between splitted windows
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k



nnoremap ;q :action CloseContent<CR>
nnoremap ;e :action RecentFiles<CR>
nnoremap ;t :action ActivateTerminalToolWindow<CR>

" Mapping jj to esc in Insert mode
imap jj <Esc>
set timeoutlen=1000

" syncing keyboard between vim and os
set clipboard^=unnamed,unnamedplus
set matchpairs +=<:>

" enablesmart join
set ideajoin

" enable short cut for find in files
map <leader>ff <Action>(FindInPath)
map <leader>sf <Action>(GotoFile)
map <leader>se <Action>(SearchEverywhere)
map <leader>sc <Action>(GotoClass)
map <leader>dd <Action>(ToggleLineBreakpoint)
map <leader>r <Action>(Resume)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>ds <Action>(Stop)
