let mapleader = "\<Space>" 
noremap <Esc> <nop>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

set relativenumber number
set NERDTree

set easymotion
set surround

map <leader>j <Plug>(easymotion-s)
map <leader>J <Plug>(easymotion-f)
map <c-n> :NERDTree<CR> 


map <leader>b <Action>(ToggleBookmark)
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

nnoremap ;q :action CloseContent<CR>
nnoremap ;e :action RecentFiles<CR>
